<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Orbit</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.6/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col items-center min-h-screen py-8">
    <div class="container max-w-md">
        <h1 class="text-3xl font-bold text-center mb-8">Task Orbit</h1>
        
        <button class="w-full bg-blue-500 text-white py-2 rounded-lg mb-4 hover:bg-blue-600 transition duration-300"
                hx-get="/show_add_task" 
                hx-target="#task-popup" 
                hx-swap="innerHTML" 
                hx-trigger="click">
            Add Task
        </button>
        <div id="task-popup">
            <!-- This is where your modal content will be rendered -->
            {% include "partials/task_popup.html" %}
        </div>

        <div class="flex justify-between mb-4">
            <input type="text" 
                    id="search"
                    name="search"
                    placeholder="Search tasks" 
                    class="p-2 border rounded-lg" 
                    hx-get="/search_tasks" 
                    hx-target="#task-list" 
                    hx-swap="innerHTML" 
                    hx-trigger="input">
        </div>
        
        <div class="container mx-auto p-4">
            <h2 class="text-2xl font-bold mb-4">Task List</h2>
            <div id="task-list" 
                hx-get="/task_list" 
                hx-trigger="load" 
                hx-target="#task-list" 
                hx-swap="innerHTML">
                {% include "partials/task_list.html" %}
            </div>
        </div>        

    </div>
</body>
</html>
